on:
  push:
    branches:
    - master

name: Publish Image
jobs:
  dockerpush:
    name: docker build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.2.0
    - name: check out submodule
      run: git submodule sync --recursive && git submodule update --init --recursive
    - name: extract tag
      id: vars
      run: echo ::set-output name=argo_version::$(date -u '+%Y.%m.%d')
    - run: echo "Pushing version ${{ steps.vars.outputs.argo_version }}"
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@2.12
      with:
        registry: docker.pkg.github.com
        name: "ironpeakservices/iron-argo/iron-argo:${{ steps.vars.outputs.argo_version }}"
        username: hazcod
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Create GitHub release
      uses: actions/create-release@v1
      with:
          tag_name: ${{ steps.vars.outputs.argo_version }}
          release_name: iron-argo
          draft: false
          prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
